/* Layout classes */
body {
	color: gray;
	background-color: #ddd;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: small;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: auto;
	height: auto;
	min-height: 550px;
	margin: 10px;
	background-color: #fcfcfc;
	opacity: 0.95;
	border-radius: 3px;
	box-shadow: 4px 4px 1px #111;
	padding: 40px;	
}

#top {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 60px;
    padding: 20px;	    
}

#left {
	position: absolute;
	top: 100px;
	bottom: 20px;	
	left: 20px;	
	width: 140px;
    padding: 20px;
}

#main {
	position: absolute;
	top: 100px;
	left: 200px;
	right: 20px;
	bottom: 20px;
	text-align: left;
	overflow-x: auto;
	overflow-y: auto;
	padding: 20px;
}

#login {
	position: absolute;
	top: 20px;
	right: 20px;
}

#logo {
	position: absolute;
	top: 0px;
}

#status {
	position: absolute;
	bottom: 25px;
}

.error {
	color: red;
}

.attention {
	color: red;
}

.noattention {
	color: gray;
}

.fieldset {
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
}
