body {
	background-color: #404040;
	align: center;
}

#container {
	min-width: 800px;
	max-width: 1200px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 1px #111;
	padding: 10px;
}