body {
	background-color: #ffffff;
	color: #000000;
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 12pt;
	padding: 5pt;
}

a {
	text-decoration: underline;
	color: #000000;
}
