<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
"-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <module name="TreeWalker">
    <module name="EmptyStatement">
      <property name="severity" value="warning" />
    </module>
    <module name="CyclomaticComplexity" />
    <module name="ClassFanOutComplexity" />
    <module name='CovariantEquals' />
    <module name='ClassDataAbstractionCoupling'>
      <property name="max" value="12" />
    </module>
    <module name='NPathComplexity' />
    <module name='RedundantImport'>
      <property name="severity" value="warning" />
    </module>
    <module name='UnusedImports'>
      <property name="severity" value="warning" />
    </module>
    <module name='RedundantModifier'>
      <property name="severity" value="warning" />
    </module>
    <module name='RedundantThrows'>
      <property name="severity" value="warning" />
    </module>
  </module>
  <module name='FileLength' />
  <module name='NewlineAtEndOfFile'>
    <property name="severity" value="warning" />
  </module>
</module>
