<?xml version="1.0" encoding="UTF-8"?>
<GetObservation xmlns="http://www.opengis.net/sos/1.0" xmlns:gml="http://www.opengis.net/gml"  xmlns:ogc="http://www.opengis.net/ogc" xmlns:ows="http://www.opengis.net/ows/1.1"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  service="SOS" version="1.0.0">
  <offering>_offering</offering>
  <eventTime>
    <ogc:TM_During>
      <ogc:PropertyName>om:samplingTime</ogc:PropertyName>
      <gml:TimePeriod>
        <gml:beginPosition>_begin</gml:beginPosition>
        <gml:endPosition>_end</gml:endPosition>
      </gml:TimePeriod>
    </ogc:TM_During>
  </eventTime>
  _procedure
  _observedProperty
  <responseFormat>_responseFormat</responseFormat>
  _resultModel
  _responseMode
</GetObservation>
