@CHARSET "UTF-8";

body {
    color: #000000;
    background-color: #FFFFFF;
    font-family: Arial, "Times New Roman", Times, serif;
}

img {
    border: none;
    }

a:link,a:visited {
    color: blue
}

th {
    font-family: Verdana, "Times New Roman", Times, serif;
    font-size: 110%;
    font-weight: normal;
    font-style: italic;
    background: #c1cde5;
    text-align: left;
}

td {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.code {
    color: #000000;
    font-family: "Courier New", Courier, monospace;
    font-size: 110%;
    margin-left: 2.5em;
}

p#congrats {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

p#footer {
    text-align: right;
    font-size: 80%;
}