<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level %logger{1} [%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<!--
	<logger name="org.deegree" level="INFO"/>
	-->

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>