/* Layout classes */
body {
	color: gray;
	background-color: #ddd;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: small;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
	min-width: 700px;
	min-height: 550px;
	margin: 10px;
	background-color: #fcfcfc;
	opacity: 0.95;
	border-radius: 3px;
	box-shadow: 4px 4px 1px #111;
	padding: 40px;
}

#top {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 60px;
	padding: 20px;
}

#left {
	position: absolute;
	top: 100px;
	bottom: 20px;
	left: 20px;
	width: 140px;
	padding: 20px;
}

.main {
	position: absolute;
	top: 100px;
	left: 200px;
	right: 20px;
	bottom: 20px;
	text-align: left;
	overflow-x: auto;
	overflow-y: auto;
	padding: 20px;
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: left;
	overflow-x: auto;
	overflow-y: auto;
	padding: 0;
}

#login {
	position: absolute;
	top: 20px;
	right: 20px;
}

logo {
	position: absolute;
	top: 0;
}

#status {
	position: absolute;
}

#xmleditor {
	position: absolute;
	width: 100%;
	height: 100%;
}

#xmleditor-actions {
	height: 25px;
	padding: 2px;
	border: 1px solid #000;
	border-radius: 3px;
}

#xmleditor-input {
	position: absolute;
	top: 25px;
	bottom: 0;
	left: 0;
	right: 0;
}

#xmltextarea {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.error {
	color: red;
	font-weight: bold;
}

.attention {
	color: red;
}

.noattention {
	color: gray;
}

.fieldset {
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
}

.form-main {
	position: relative;
	height: 100%;
	width: 100%;
}
