<Configuration status="ERROR">
    <!-- by default, only log to stdout -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{HH:mm:ss}] %5p: [%c{1}] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- The log level for all classes that are not configured below. -->
        <Logger name="org.deegree" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>