body { 
	font-family:arial,helvetica,sans-serif;
	color:#000000;
	font-size: 12px;
}

/* div,h2,h3,li,p,th,ul { color:#000000; } */

div,li,ol,p,td,th,ul,input,select {
	font-size:10pt;
}

a {
  color:#660033;
}

a.menu {
  font-weight:bold;
  text-decoration:none;
}

div.in1 { margin-left:2em; }
div.in2 { margin-left:4em; }

h1 { font-size:16pt; font-weight:bold }
h2 { font-size:12pt; font-weight:bold }
h3 { font-size:12pt; font-weight:normal }

a.header2 {
    font-size:14pt;
    font-weight:bold;
    text-decoration:none;
}

.dl { 
  font-weight:bold;
}

th {
	font-size:12pt;
	font-weight:bold;
}

td.news {
	vertical-align:top;
	border-left-style:solid;
	border-left-width:2px;
	border-left-color:#de6339
}

/* Farben und andere Attribute fï¿½r alle Tags */

.b { font-weight:bold; }
.orange { color:#EE7000; /* text-decoration:none; */ }
.black { color:#000000 }
.white { color:#FFFFFF; }
.red { color:#FF0000; }
.sepia { color:#660033 }
.blue { color:#0000FF; }
.green { color:#006600 }
.code { background-color:#FFFFE0; }
.tt { font-family:Courier New,Courier; }
.sblack  {
        font-size:8pt;
        text-decoration:none;
}


/* For the wpvs client */
/* a:link { color:#000000; text-decoration:none; } */
/* a:visited { color:#000000; text-decoration:none;  } */


.menu {
	color:#000000;
	background-color:#EE7000;
}

.main {
	background-color:#DDDDDD;
}

.distance {
	color:#000000;
	background-color:#999999;
	font-size: 10px;
	font-family: sans-serif,Arial;
}

.distanceselected {
	color:#000000;
	background-color:#EE7000;
	font-size: 10px;
	font-family: sans-serif,Arial;
}

.mainGUI{
	font-size: 14px;
}
