<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>deegree 3 OGC webservices + generic client</display-name>
	<servlet>
		<servlet-name>services</servlet-name>
		<servlet-class>org.deegree.services.controller.OGCFrontController</servlet-class>
		<!--
			parameter 'ConfigurationFile' is optional (only needed when a
			non-default location is used for the 'services_metadata.xml' file)
		-->
		<!--
			init-param> <param-name>ConfigurationFile</param-name>
			<param-value>conf/services_metadata.xml</param-value> </init-param
		-->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>services</servlet-name>
		<url-pattern>/services</url-pattern>
	</servlet-mapping>
</web-app>