.parameter {
	vertical-align: top;
	width: 30%;
	margin-right: 10px;
}

.metadata {
	width: 70%;
	margin-left: 10px;
}

.description {
	width: 350px;
	height: 50px;
}

.overview {
	width: 350px;
	text-align: center;
	vertical-align: middle;
}