/*** layout ***/
#mdEditor .mdcontent {
	border: 2px solid #194c6b;
	padding: 15px;
}

#mdEditor #top {
	position: relative;
}

#mdEditor #content {
	width: 100%;
}

#mdEditor #left {
	width: 78%;
}

#mdEditor #right {
	float: right;
	width: 19%;
	height: 100%;
	margin: 1%;
}

#mdEditor .box {
	
}

#mdEditor .boxTitle {
	font-family: Verdana, "Times New Roman", Times, serif;
	border-bottom: 1px solid #194c6b;
	font-size: 110%;
	font-weight: normal;
	font-style: italic;
	background-color: #194c6b;
	color: #FFFFFF;
	/*c1cde5*/
	text-align: left;
	padding: 3px;
}

#mdEditor .boxText {
	border: 1px solid #194c6b;
	padding: 3px;
}

/***** styles for the menu *****/ /*** horizontal menu ***/
#mdEditor ul#horizontalList {
	margin: 0;
	padding: 0.8em;
	text-align: left;
}

#mdEditor ul#horizontalList li {
	list-style: none;
	display: inline;
	margin: 0.4em;
	padding: 0;
}

#mdEditor ul#horizontalList a.menuItemActive {
	padding: 0.2em 1em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid white;
	border-left-color: black;
	border-top-color: black;
	color: #FFFFFF;
	background-color: gray;
}

#mdEditor ul#horizontalList a.menuItemInactive {
	padding: 0.2em 1em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-left-color: white;
	border-top-color: white;
	color: #194c6b;
	background-color: #ccc;
}

#mdEditor ul#horizontalList a:hover {
	border-color: white;
	border-left-color: black;
	border-top-color: black;
	color: #FFFFFF;
	background-color: gray;
}

/*** vertical menu ***/
#mdEditor ul#verticalList {
	text-align: left;
}

#mdEditor ul#verticalList li {
	list-style: none;
	margin-bottom: 20px;
	margin-left: -35px;
}

#mdEditor ul#verticalList a,#mdEditor ul#verticalList span {
	padding: 0.2em 1em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-left-color: white;
	border-top-color: white;
	color: #194c6b;
	background-color: #ccc;
}

#mdEditor ul#verticalList a:hover,#mdEditor ul#verticalList span {
	border-color: white;
	border-left-color: black;
	border-top-color: black;
	color: #FFFFFF;
	background-color: gray;
}

#mdEditor #horizontalMenu {
	margin: 0em auto;
	margin-bottom: 10px;
	border-bottom: 2px solid #194c6b;
}

#mdEditor #verticalMenu {
	float: left;
	margin-right: 10px;
	border-right: 2px solid #194c6b;
}

/*****  *****/
#mdEditor .mdFormHeader {
	text-align: left;
}

#mdEditor .mdFormHeaderSub {
	font-style: italic;
}

#mdEditor .mdForm {
	
}

#mdEditor .mdFormSub {
	
}

#mdEditor .mdFormLabel {
	
}

#mdEditor .mdFormInput {
	min-width: 190px;
}

#mdEditor .invalidFF {
	border: 2px solid red;
}

#mdEditor a.helpLink {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	margin: 10px 5px 0px 0px;
	background-color: #00395B;
	border: #000000 1px solid;
	color: #EFEFEF;
	font-size: 10pt;
	text-align: center;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

#mdEditor a.helpLink img {
	margin-top: 2px;
	border: 0px;
}

#mdEditor #navForm {
	
}

#mdEditor #navForm input {
	margin: 2px 10px;
}

#mdEditor #dsNavForm {
	
}

#mdEditor .navBt {
	top: 15px;
	height: 22px;
	width: 25px;
	background-color: #00395B;
	border: #000000 1px solid;
	color: #EFEFEF;
	font-size: 10pt;
	text-align: center;
	padding-top: 3px;
	text-decoration: none;
	margin: 5px;
}

#mdEditor .dsNavBt {
	top: 15px;
	height: 22px;
	width: 25px;
	background-color: #00395B;
	border: #000000 1px solid;
	color: #EFEFEF;
	font-size: 10pt;
	text-align: center;
	padding-top: 3px;
	text-decoration: none;
	margin: 5px;
}

/***** styles for the list of available data groups *****/
#mdEditor .dgList {
	border-collapse: collapse;
}

#mdEditor .dgList td {
	border: 1px dotted #000000;
}

#mdEditor .dgListHeader {
	font-weight: normal;
	font-style: italic;
	padding: 2px 4px;
}

#mdEditor .dgListRowOdd {
	background-color: #dbe1e8;
}

#mdEditor .dgListRowEven {
	
}

#mdEditor .dgListColumn {
	
}

#mdEditor .dgListOptionColumn {
	text-align: center;
}

#mdEditor .dgListOptionColumn input[type="image"] {
	background-repeat: no-repeat;
}

/***** styles for the status message *****/
#mdEditor .statusMsgTitle {
	font-size: larger;
	font-style: italic;
}

#mdEditor .statusMsgError {
	color: red;
}

#mdEditor .statusMsgFatal {
	color: red;
}

#mdEditor .statusMsgInfo {
	
}

#mdEditor .statusMsgWarn {
	color: yellow;
}

#mdEditor .statusMsg {
	
}

/***** styles for the list of available datasets *****/
#mdEditor .chooseDatasetDescribtionTA {
	width: 200px;
	height: 250px;
	margin: 0px 5px;
}

#mdEditor .chooseDatasetListBox {
	width: 200px;
	height: 250px;
	margin: 0px 5px;
}

/***** styles for the list of available templates *****/
#mdEditor .chooseTemplateDescribtionTA {
	width: 200px;
	height: 250px;
	margin: 0px 5px;
}

#mdEditor .chooseTemplateListBox {
	width: 200px;
	height: 250px;
	margin: 0px 5px;
}

/***** styles for the list of configurations *****/
#mdEditor .chooseConfDescribtionTA {
	width: 200px;
	height: 250px;
	margin: 0px 5px;
}

#mdEditor .chooseConfListBox {
	width: 200px;
	height: 250px;
	margin: 0px 5px;
}