#mdEditor ul#horizontalList {
	margin: 0;
	padding: 0.8em;
	text-align: left;
}

#mdEditor ul#horizontalList li {
	list-style: none;
	display: inline;
	margin: 0.4em;
	padding: 0;
}

#mdEditor ul#horizontalList a,#mdEditor ul#horizontalList span {
	padding: 0.2em 1em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-left-color: white;
	border-top-color: white;
	color: #194c6b;
	background-color: #ccc;
}

#mdEditor ul#horizontalList a:hover,#mdEditor ul#horizontalList span {
	border-color: white;
	border-left-color: black;
	border-top-color: black;
	color: #FFFFFF;
	background-color: gray;
}

#mdEditor ul#verticalList {
	text-align: left;
}

#mdEditor ul#verticalList li {
	list-style: none;
	margin-bottom: 20px;
	margin-left: -35px;
}

#mdEditor ul#verticalList a,#mdEditor ul#verticalList span {
	padding: 0.2em 1em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-left-color: white;
	border-top-color: white;
	color: #194c6b;
	background-color: #ccc;
}

#mdEditor ul#verticalList a:hover,#mdEditor ul#verticalList span {
	border-color: white;
	border-left-color: black;
	border-top-color: black;
	color: #FFFFFF;
	background-color: gray;
}

#mdEditor #horizontalMenu {
	margin: 0em auto;
	margin-bottom: 10px;
	border-bottom: 2px solid #194c6b;
}

#mdEditor #verticalMenu {
	float: left;
	margin-right: 10px;
	border-right: 2px solid #194c6b;
}

#mdEditor .mdFormHeader {
	text-align: left;
}

#mdEditor .mdFormHeaderSub {
	font-style: italic;
}

#mdEditor .mdForm {
	
}

#mdEditor .mdFormSub {
	
}

#mdEditor .mdFormLabel {
	
}

#mdEditor .mdFormInput {
	min-width: 190px;
}

#mdEditor .invalidFF {
	border: 2px solid red;
}

#mdEditor a.helpLink {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	margin: 10px 5px 0px 0px;
	background-color: #00395B;
	border: #000000 1px solid;
	color: #EFEFEF;
	font-size: 10pt;
	text-align: center;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

#mdEditor a.helpLink img {
	margin-top: 2px;
	border: 0px;
}

#mdEditor .navForm {
	
}

#mdEditor .navBt {
	top: 15px;
	height: 22px;
	width: 25px;
	background-color: #00395B;
	border: #000000 1px solid;
	color: #EFEFEF;
	font-size: 10pt;
	text-align: center;
	padding-top: 3px;
	text-decoration: none;
	margin: 5px;
}

/***** styles for the list of available data groups *****/
#mdEditor .dgList {
	border-collapse: collapse;
}

#mdEditor .dgList td {
	border: 1px dotted #000000;
}

#mdEditor .dgListHeader {
	font-weight: normal;
	font-style: italic;
	padding: 2px 4px;
}

#mdEditor .dgListRowOdd {
	background-color: #dbe1e8;
}

#mdEditor .dgListRowEven {
	
}

#mdEditor .dgListColumn {
	
}

#mdEditor .dgListOptionColumn {
	text-align: center;
}

#mdEditor .dgListOptionColumn input[type="image"]{
	background-repeat: no-repeat;
}