#mdEditor {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 12px;
	position: relative;
	margin: 0em auto;
}

#mdEditor #header {
	position: relative;
	margin: 10px;
	min-height: 50px;
}

#mdEditor #headerNav {
	position: relative;
	margin: 10px;
}

#mdEditor #center {
	position: relative;
	width: 100%;
	min-height: 300px;
}

#mdEditor #topBox {
	position: relative;
	width: 100%;
}

#mdEditor #leftBox {
	position: absolute;
}

#mdEditor #main {
	position: relative;
	margin: 0px 180px 0px 0px;
	border: 2px solid #194c6b;
}

#mdEditor #content {
	
}

#mdEditor #rightBox {
	position: absolute;
	top: 38px;
	right: 10px;
	width: 160px;
	height: 300px;
}

#mdEditor #footer {
	height: 50px;
	margin: 10px;
	text-align: right;
}

#mdEditor .headerText {
	position: absolute;
	bottom: 5px;
	left: 25px;
	font-weight: bold;
	font-size: x-large;
	font-style: italic;
}

#mdEditor .headerImg {
	position: absolute;
	bottom: 5px;
	right: 25px;
}

#mdEditor .footerText {
	font-size: smaller;
}

#mdEditor .box {
}

#mdEditor .boxTitle {
	font-family: Verdana, "Times New Roman", Times, serif;
	border-bottom: 1px solid #194c6b;
	font-size: 110%;
	font-weight: normal;
	font-style: italic;
	background-color: #194c6b;
	color: #FFFFFF;
	/*c1cde5*/
	text-align: left;
	padding: 3px;
}
#mdEditor .boxText {
	border: 1px solid #194c6b;
	padding: 3px;
}