#container {
	position: relative;
	display: block;
	max-width: 800px;
	margin: 0px auto;
	border-right: 200px;
	text-align: left;
}

#inner {
	display: block;
	margin-right: -200px;
	padding: 5px;
}

#right {
	float: right;
	position: relative;
	width: 190px;
	right: 0px;
}

#center {
	margin-right: 200px;
	position: relative;
	display: block;
	height: 1%;
}

.clear {
	clear: both;
}
#header {
	font-size: larger;
}
/**
#container {
	max-width: 800px;
	margin: 0px auto;
	text-align: left;
}

#header {
	font-size: larger;
}

#content {
	float: left;
	width: 70%;
}

#right {
	width: 30%;
}
**/
#wpsUrl {
	margin: 0px 10px;
	width: 500px
}

.infoText {
	width: 25px;
	margin: -5px -5px -8px 10px;
}

.field {
	margin: 10px 0px;
}

fieldset.field legend {
	font-style: italic;
	font-weight: bold;
}

.paramBody {
	margin-bottom: 10px;
}

.paramHeader {
	text-align: left;
	text-decoration: underline;
	font-style: normal;
	font-weight: normal;
}

.form {
	margin-left: 25px;
}

.msgError,.msgFatal {
	color: red;
}